@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=Roboto:wght@100&display=swap');


body{
    font-family: "Ubuntu" , sans-serif;
    
}

h1{
    font-family: 'Montserrat', sans-serif;
   
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 60px;
}
h2{
    font-family: 'ubuntu', sans-serif;
    font-size: 3rem;
    list-style: 1.5rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background: #ff4c68;
    color: white;
    overflow: hidden;

}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    
}
.navbar{
    padding:  0 0  4.5rem ;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
 

}
.download-btn{
    margin: 5% 3% 5% 0;      
    /* button alignment  */
}
.title-image{
    position: absolute;
    width:60%;
    right: 10%;
    transform: rotate(25deg);
}
.top-image-container{
    position: relative;
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.feature-box h3{
    font-weight: 900;
}
.icon:hover{
    color: pink;
}
@media(max-width:1020px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        width:40%
    }
}
.d-block-w-100 {
width: 250px;
}
#testimonial{
    text-align: center;
    color: white;
    background: #ef8172;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    border-radius: 100%;
    width:10%;
    margin: 20px;
}
#press{
    text-align: center;
   
  
    background: #ef8172;
    padding-bottom: 3%;
}

#press img{
    width: 250px;
}

#pricing{
    padding: 100px;
    text-align: center;

}
.pricing-col{
    padding: 3% 2%;
}
#cta{
    text-align: center;
    background: #ef8172;
    color: white;
    padding: 7% 15%;
}
#cta h3{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
#footer img{
    width: 20px;
    align-self: center;
    margin: 20px 10px;
 

}
#footer{
    padding: 7% 15%;
    text-align: center;
}